flows/Call_Report_Sharing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_If_We_need_to_Create_A_Record</name>
        <label>Check If We need to Create A Record</label>
        <locationX>1036</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Share_After_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_CR_with_Relationship_Owner</targetReference>
            </connector>
            <label>Create Share</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Share</name>
        <label>Create Share</label>
        <locationX>819</locationX>
        <locationY>91</locationY>
        <defaultConnector>
            <targetReference>Check_If_We_need_to_Create_A_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Share</defaultConnectorLabel>
        <rules>
            <name>Delete_Share_Before_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherShareIDs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Share</targetReference>
            </connector>
            <label>Delete Share Before Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_to_Share_Call_Report</name>
        <label>Decide to Share Call Report</label>
        <locationX>593</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Share_Call_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share</targetReference>
            </connector>
            <label>Share Call Report</label>
        </rules>
        <rules>
            <name>Remove_Sharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Share</targetReference>
            </connector>
            <label>Remove Sharing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Share</name>
        <label>Delete Share</label>
        <locationX>591</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Delete_Share_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareIDsExist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Sharing_Rule</targetReference>
            </connector>
            <label>Delete Share Record</label>
        </rules>
    </decisions>
    <interviewLabel>Call Report Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Report Sharing</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_CR_with_Relationship_Owner</name>
        <label>Share CR with Relationship Owner</label>
        <locationX>1033</locationX>
        <locationY>90</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RelationshipOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Call_Report__Share</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Previous_Share</name>
        <label>Delete Previous Share</label>
        <locationX>819</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Check_If_We_need_to_Create_A_Record</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RelationshipOwnerId</elementReference>
            </value>
        </filters>
        <object>Call_Report__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Sharing_Rule</name>
        <label>Remove Sharing Rule</label>
        <locationX>590</locationX>
        <locationY>357</locationY>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </filters>
        <object>Call_Report__Share</object>
    </recordDeletes>
    <recordLookups>
        <name>Call_Report_Lookup</name>
        <label>Call Report Lookup</label>
        <locationX>0</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckifShareRecordsforthisCallReportExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <object>Call_Report__c</object>
        <outputAssignments>
            <assignToReference>Yes</assignToReference>
            <field>Share_C_R_with_Relationship_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CheckifShareforthisuseralreadyexists</name>
        <label>Check if Share for this user already exists</label>
        <locationX>437</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_to_Share_Call_Report</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipOwnerId</elementReference>
            </value>
        </filters>
        <object>Call_Report__Share</object>
        <outputAssignments>
            <assignToReference>ShareId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CheckifShareRecordsforthisCallReportExist</name>
        <label>Check if Share Records for this Call Report Exist</label>
        <locationX>138</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Share_IDs_Exist</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </filters>
        <object>Call_Report__Share</object>
        <outputAssignments>
            <assignToReference>ShareIDsExist</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Other_Share_IDs_Exist</name>
        <label>Other Share IDs Exist</label>
        <locationX>285</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckifShareforthisuseralreadyexists</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship_Owner__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RelationshipOwnerId</elementReference>
            </value>
        </filters>
        <object>Call_Report__Share</object>
        <outputAssignments>
            <assignToReference>OtherShareIDs</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Call_Report_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>CallReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OtherShareIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RelationshipOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ShareIDsExist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
