flows/Capture_Full_Photo_URL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Capture the Full photo url</description>
    <interviewLabel>Capture Full Photo URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Full Photo URL</label>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>207</locationX>
        <locationY>229</locationY>
        <assignNextValueToReference>eachUser</assignNextValueToReference>
        <collectionReference>allUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_the_Profile_Photo</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_the_Profile_Photo</name>
        <label>Find the Profile Photo</label>
        <locationX>444</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_the_Full_Photo_Url</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachUser.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>origFullPhotoUrl</assignToReference>
            <field>FullPhotoUrl</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Users</name>
        <label>Get All Users</label>
        <locationX>205</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <object>User</object>
        <outputReference>allUsers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_the_Full_Photo_Url</name>
        <label>Save the Full Photo Url</label>
        <locationX>451</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051p000009Znu0</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Photo_URL__c</field>
            <value>
                <elementReference>origFullPhotoUrl</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Get_All_Users</startElementReference>
    <status>Draft</status>
    <variables>
        <name>allUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>eachUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>origFullPhotoUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
