flows/Collateral_Valuation_Task_Record_Type_Task_1_4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Watcher_Status</name>
        <label>Watcher Status</label>
        <locationX>323</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WatcherRecord.Valuation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collateral_Valuation_Task</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Valuation_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WatcherRecord.Valuation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valuation Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collateral_Valuation_Task_0</targetReference>
            </connector>
            <label>Valuation Completed</label>
        </rules>
        <rules>
            <name>Review_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WatcherRecord.Valuation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collateral_Valuation_Task_0_0_0</targetReference>
            </connector>
            <label>Review in progress</label>
        </rules>
        <rules>
            <name>Review_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WatcherRecord.Valuation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collateral_Valuation_Task_1</targetReference>
            </connector>
            <label>Review Completed</label>
        </rules>
        <rules>
            <name>Report_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WatcherRecord.Valuation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Completed</stringValue>
                </rightValue>
            </conditions>
            <label>Report Completed</label>
        </rules>
    </decisions>
    <interviewLabel>Collateral Valuation Task Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collateral Valuation Task Record Type - Task 1 - 4</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collateral_Valuation_Task</name>
        <label>Create Collateral Valuation Task</label>
        <locationX>106</locationX>
        <locationY>247</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Completion_Date__c</field>
            <value>
                <elementReference>ActualCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Preparer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Collateral_Valuation_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WatcherId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Valuation_Task_0</name>
        <label>Create Collateral Valuation Task</label>
        <locationX>105</locationX>
        <locationY>365</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Completion_Date__c</field>
            <value>
                <elementReference>ActualCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Preparer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Collateral_Valuation_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WatcherId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Valuation_Task_0_0_0</name>
        <label>Create Collateral Valuation Task</label>
        <locationX>104</locationX>
        <locationY>481</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Completion_Date__c</field>
            <value>
                <elementReference>ActualCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Reviewer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Collateral_Valuation_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WatcherId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Valuation_Task_1</name>
        <label>Create Collateral Valuation Task</label>
        <locationX>604</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Completion_Date__c</field>
            <value>
                <elementReference>ActualCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Preparer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Collateral_Valuation_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WatcherId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Valuation_Record_Type</name>
        <label>Get Collateral Valuation Record Type</label>
        <locationX>318</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Watcher</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collateral_Valuation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Collateral_Valuation_Task_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Watcher</name>
        <label>Watcher</label>
        <locationX>323</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Watcher_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WatcherId</elementReference>
            </value>
        </filters>
        <object>Watcher__c</object>
        <outputReference>WatcherRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Valuation_Status__c</queriedFields>
        <queriedFields>Initial_Valuation_Date__c</queriedFields>
        <queriedFields>Actual_Finalised_Report_Date__c</queriedFields>
        <queriedFields>Actual_Report_Date__c</queriedFields>
        <queriedFields>Actual_Review_Date__c</queriedFields>
        <queriedFields>Actual_Valuation_Date__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Collateral_Valuation_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActualCompletedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Collateral_Valuation_Task_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Preparer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TodaysDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TodaysDate_1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WatcherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WatcherRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Watcher__c</objectType>
    </variables>
</Flow>
