flows/Copy_Parent_Case_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Sets the error message should there be an error</description>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>496</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Flow used to Copy Parent Case Details and Create a resultant Child Case</description>
    <interviewLabel>Copy Parent Case Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Parent Case Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the child Case off the back of all the fields we retrieved of the parent Case</description>
        <name>Create_Child_Case</name>
        <label>Create Child Case</label>
        <locationX>325</locationX>
        <locationY>319</locationY>
        <assignRecordIdToReference>vRedirectId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ParentCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Case_Comment__c</field>
            <value>
                <elementReference>ParentCase.Add_Case_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Hours__c</field>
            <value>
                <elementReference>ParentCase.Business_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>ParentCase.Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ParentCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>ParentCase.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ParentCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Sender_Name__c</field>
            <value>
                <elementReference>ParentCase.Email_Sender_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Department__c</field>
            <value>
                <elementReference>ParentCase.Full_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_V_Complete__c</field>
            <value>
                <elementReference>ParentCase.ID_V_Complete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <elementReference>ParentCase.IsEscalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Requests__c</field>
            <value>
                <elementReference>ParentCase.Number_of_Requests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>ParentCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>ParentCase.Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <elementReference>ParentCase.Reason_for_Cancellation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ParentCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Category__c</field>
            <value>
                <elementReference>ParentCase.Service_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Sub_Category__c</field>
            <value>
                <elementReference>ParentCase.Service_Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>ParentCase.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ParentCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Manager__c</field>
            <value>
                <elementReference>ParentCase.Team_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>ParentCase.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Date__c</field>
            <value>
                <elementReference>ParentCase.Training_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Method__c</field>
            <value>
                <elementReference>ParentCase.Training_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent__c</field>
            <value>
                <elementReference>ParentCase.Urgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Code__c</field>
            <value>
                <elementReference>ParentCase.User_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>This retrieves the parent case we would like to clone</description>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>158</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Child_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Queue__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
        <queriedFields>Business_Hours__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Email_Sender_Name__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Service_Sub_Category__c</queriedFields>
        <queriedFields>Add_Case_Comment__c</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Number_of_Requests__c</queriedFields>
        <queriedFields>User_Code__c</queriedFields>
        <queriedFields>Urgent__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Training_Date__c</queriedFields>
        <queriedFields>Training_Method__c</queriedFields>
        <queriedFields>Reason_for_Cancellation__c</queriedFields>
        <queriedFields>ID_V_Complete__c</queriedFields>
        <queriedFields>Full_Department__c</queriedFields>
        <queriedFields>Team_Manager__c</queriedFields>
        <queriedFields>Service_Category__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Parent_Case</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Hold the error message should there be an error</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The Parent Case Record with fields required for Child Clone</description>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>recordId used to query the Parent Case</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Id of the created case. Used to redirect to the Case created off the back of the parent Case</description>
        <name>vRedirectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
