flows/Create_QA_Tasks_on_User_stories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Acceptance_Criteria_Review_Assignment</name>
        <label>Acceptance Criteria Review</label>
        <locationX>492</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_UE_Engineer_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance Criteria Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acceptance_Criteria_Review_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acceptance_Criteria_Review_Assignment_0</name>
        <label>Acceptance Criteria Review</label>
        <locationX>586</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Tasks_Collection_Variables</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QATesting_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_PE</name>
        <label>Assign Assigned to user as PE</label>
        <locationX>304</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>var_T_Performance_Engineer_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acceptance_Criteria_Review_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_PO</name>
        <label>Assign Assigned to user as PO</label>
        <locationX>132</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>var_T_Product_Owner_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_if_Performance_Engineer_is_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_QA</name>
        <label>Assign Assigned to user as QA</label>
        <locationX>131</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>var_T_QA_Engineer_User_Is</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_if_PO_Engineer_is_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_UE</name>
        <label>Assign Assigned to user as UE</label>
        <locationX>130</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>var_T_UE_Engineer_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_if_QA_Engineer_is_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Peer_Review</name>
        <label>Peer Review</label>
        <locationX>1120</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>Tasks_Collection_Variables</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PeerReview_Assignment</name>
        <label>Peer Review</label>
        <locationX>1012</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Performance_Engineer_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Peer Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Peer_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Owner_Acceptance</name>
        <label>Product Owner Acceptance</label>
        <locationX>932</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Tasks_Collection_Variables</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PeerReview_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductOwnerAcceptance_Assignment</name>
        <label>Product Owner Acceptance</label>
        <locationX>834</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Product_Owner_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Owner Acceptance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Owner_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QA_Testing</name>
        <label>QA Testing</label>
        <locationX>762</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Tasks_Collection_Variables</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductOwnerAcceptance_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QATesting_Assignment</name>
        <label>QA Testing</label>
        <locationX>662</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_QA_Engineer_User_Is</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Starting_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_variables.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QA Testing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QA_Testing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Test_if_Performance_Engineer_is_present</name>
        <label>Test if Performance Engineer is present</label>
        <locationX>302</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PE_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_Performance_Engineer_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceptance_Criteria_Review_Assignment</targetReference>
            </connector>
            <label>PE Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_PO_Engineer_is_present</name>
        <label>Test if PO Engineer is present</label>
        <locationX>307</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PO_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_Product_Owner_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_if_Performance_Engineer_is_present</targetReference>
            </connector>
            <label>PO Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_QA_Engineer_is_present</name>
        <label>Test if QA Engineer is present</label>
        <locationX>311</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_QA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>QA_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_QA_Engineer_User_Is</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_if_PO_Engineer_is_present</targetReference>
            </connector>
            <label>QA Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_UE_Engineer_is_present</name>
        <label>Test if UE Engineer is present</label>
        <locationX>314</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_UE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UE_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_UE_Engineer_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_if_QA_Engineer_is_present</targetReference>
            </connector>
            <label>UE Present</label>
        </rules>
    </decisions>
    <description>Automatiically adds QA tasks to user stories. Activated via process builder.

Input:
-Work Id

Output:
Creates 4 tasks for the different QA steps.</description>
    <interviewLabel>Create QA Tasks on User stories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create QA Tasks on User stories</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>1120</locationX>
        <locationY>431</locationY>
        <inputReference>Tasks_Collection_Variables</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Owners</name>
        <label>Lookup Owners</label>
        <locationX>311</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_if_UE_Engineer_is_present</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <outputAssignments>
            <assignToReference>var_T_Assigned_to_User_Id</assignToReference>
            <field>agf__Assignee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_Product_Owner_User_Id</assignToReference>
            <field>agf__Product_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_QA_Engineer_User_Is</assignToReference>
            <field>agf__QA_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_Performance_Engineer_User_Id</assignToReference>
            <field>agf__System_Test_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_UE_Engineer_User_Id</assignToReference>
            <field>agf__UE_Engineer__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Owners</startElementReference>
    <status>Active</status>
    <variables>
        <name>in_T_Work_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_variables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Task__c</objectType>
    </variables>
    <variables>
        <name>Tasks_Collection_Variables</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Task__c</objectType>
    </variables>
    <variables>
        <name>var_T_AC_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Assigned_to_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Performance_Engineer_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_PO_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Product_Owner_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_QA_Engineer_User_Is</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_QA_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_UE_Engineer_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
