flows/Libra_Create_Agreement_on_Deal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Master_Agreement_Type</name>
        <label>Master Agreement Type</label>
        <locationX>432</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ISDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISDA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ISDA_RecordTypeId</targetReference>
            </connector>
            <label>ISDA</label>
        </rules>
        <rules>
            <name>GMSLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMSLA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GMSLA_RecordTypeId</targetReference>
            </connector>
            <label>GMSLA</label>
        </rules>
        <rules>
            <name>GMRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMRA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GMRA_RecordTypeId</targetReference>
            </connector>
            <label>GMRA</label>
        </rules>
        <rules>
            <name>Prime_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prime_Services_RecordTypeId</targetReference>
            </connector>
            <label>Prime Services</label>
        </rules>
    </decisions>
    <formulas>
        <name>AgreementName</name>
        <dataType>String</dataType>
        <expression>{!MarketTransaction.Name} + &quot; - &quot; + TEXT({!MarketTransaction.Master_Agreement_Type__c})</expression>
    </formulas>
    <interviewLabel>Libra - Create Agreement on Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Libra - Create Agreement on Deal</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CNSG_Deal_Party</name>
        <label>Create CNSG Deal Party</label>
        <locationX>429</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Master_Agreement_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party_B__c</field>
            <value>
                <elementReference>MarketTransaction.Party_B__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CNSGDealPartyRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship_Type_picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Deal_Party__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GMRA</name>
        <label>Create GMRA</label>
        <locationX>546</locationX>
        <locationY>592</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>GMRA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GMSLA</name>
        <label>Create GMSLA</label>
        <locationX>350</locationX>
        <locationY>595</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>GMSLA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ISDA</name>
        <label>Create ISDA</label>
        <locationX>128</locationX>
        <locationY>601</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>ISDA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Prime_Services</name>
        <label>Create Prime Services</label>
        <locationX>756</locationX>
        <locationY>586</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>Prime Services Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CNSG_Deal_Party_Record_Type</name>
        <label>Get CNSG Deal Party Record Type</label>
        <locationX>427</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CNSG_Deal_Party</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNSG_Deal_Party</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Party__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CNSGDealPartyRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_GMRA_RecordTypeId</name>
        <label>Get GMRA RecordTypeId</label>
        <locationX>527</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GMRA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMRA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_GMSLA_RecordTypeId</name>
        <label>Get GMSLA RecordTypeId</label>
        <locationX>344</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GMSLA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMSLA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ISDA_RecordTypeId</name>
        <label>Get ISDA RecordTypeId</label>
        <locationX>125</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ISDA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ISDA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matter_Record</name>
        <label>Get Matter Record</label>
        <locationX>425</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CNSG_Deal_Party_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketTransactiontId</elementReference>
            </value>
        </filters>
        <object>advpm__Matter__c</object>
        <outputReference>MarketTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Agreement_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Relationship__c</queriedFields>
        <queriedFields>Party_B__c</queriedFields>
        <queriedFields>Relationship_Type_picklist__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Prime_Services_RecordTypeId</name>
        <label>Get Prime Services RecordTypeId</label>
        <locationX>720</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Prime_Services</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prime_Services_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Matter_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>CNSGDealPartyRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>MarketTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>advpm__Matter__c</objectType>
    </variables>
    <variables>
        <name>MarketTransactiontId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sObject_RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObject_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
